button {
  width: 10em;
  margin: 0 1em;
  padding: 0.8em;
  border-radius: 0.5em;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.buttons__countdown {
  color: white;
  background-color: forestgreen;
}

.buttons__reset {
  color: white;
  background-color: grey;
}
